
.title_dimension {
  	top: 60px !important;
  	left: 20px !important; 
}

.sub_title_dimension {
  	top: 120px !important;
  	left: 20px !important;
}

#page02 .image_dimension {
	top: 250px !important;
  	/*left: 75px !important;*/
	width: 100% !important;
	height: 50% !important;
  	text-align: center;
}

#page08 .image_dimension {
	top: 100px !important;
  	/*left: 75px !important;*/
	width: 100% !important;
	height: 50% !important;
  	text-align: center;
}

#page02 #main-menu {
	width: 100%;
  	height: 100%;
}

#page02 .center {
	height: 100%;
}

#page08 #main-menu {
	width: 100%;
  	height: 100%;
}

#page08 .center {
	height: 100%;
}
[data-lj-type='stage'],
[lj-type='stage'] {
	overflow: inherit;
	position: relative;
}

.file-upload-btn {
	width: 100%;
	margin: 0;
	color: #fff;
	background: #1FB264;
	border: none;
	padding: 10px;
	border-radius: 4px;
	border-bottom: 4px solid #15824B;
	transition: all .2s ease;
	outline: none;
	text-transform: uppercase;
	font-weight: 700;
}

.file-upload-btn:hover {
	background: #1AA059;
	color: #ffffff;
	transition: all .2s ease;
	cursor: pointer;
}

.file-upload-btn:active {
	border: 0;
	transition: all .2s ease;
}

.file-upload-content {
	display: none;
	text-align: center;
	height: 100%;
}

.img_cnt {
	width: 100%;
}

.contur {
	height: 100%;
   /* margin-top: -19.5px;*/
}
.contents {
	height: inherit;
}

.file-uploader-content {
	display: none;
	text-align: center;
}

.file-upload-input {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	outline: none;
	opacity: 0;
	left: 0;
	top: 0;
	right: 0;
	cursor: pointer;
}

.image-title-wrap {
	padding: 0 15px 15px 15px;
	color: #222;
}

.paragraph_dimension {
  top: 20px !important;
  left: 75px !important;
}

.drag-text {
	text-align: center;
	padding-top: 20px;
}

.drag-text h3 {
	text-transform: uppercase;
	color: #15824B;
}

.file-upload-image {
	height: 100%;
}

.page_style {
	padding-top: 10px;
	padding-left: 10px;
}

.page {
	padding-top: 10px;
}

.pad-right {
	float: right;
}

.center {
	text-align: center;
}


::-webkit-input-placeholder {
	text-align: center;
	padding: 10px;
}

button,
input,
select[multiple],
textarea {
	background-image: none;
	border: none;
	background: transparent;
	text-align: center;
}
